@import "variables";

/* ----------------------------------------PAGE FORMULARIO----------------------------------------*/
#contacto__grid {
    display: grid;
    grid-template-areas: 
    "header"
    "formulario"
    "footer";
    grid-template-rows: 75px 585px 60px;
    background-image: linear-gradient(#f4f4f4, #f3d9dc);
  }
  
  .parrafo__contacto {
    text-align: center; 
  }
  
  .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 400px;
    padding-bottom: 15px;
    gap: 20px;
    border-style: outset;
    border-width: 5px;
    border-radius: 5%;
    border-color: #d8c0ab; 
  }
  
  @media (max-width:1200px) {
     .formulario {
      margin: 10px 150px; 
     } 
  }
  
  @media (max-width:768px) {
    #contacto__grid{ 
      min-height: 100vh;
      grid-template-rows: 75px auto 60px;
    }
    
    
    .h1__contacto{
      margin-top: 50px;
    }

    .formulario {
      margin: 20px 30px; 
     } 
  }

