@import "variables";

/* ----------------------------------------PAGE GALERIA----------------------------------------*/
#galeria__grid {
    display: grid;
    grid-template-areas: 
     "header" 
     "galeria" 
     "footer";
    grid-template-rows: 75px 585px 60px;
    background-image: linear-gradient(#f4f4f4, #f3d9dc);
  }
  
  .contenedor__galeria{
    grid-area: galeria;
  }

  #carouselExampleFade{
    margin: 0 auto;
    width: 450px;
    border-radius: 10%;
    border-width: 5px;
    border-style: outset;
    border-color: #b49286; 
    z-index: 0;
  }
  
  .d-block {
    height: 450px; 
    border-radius: 9%;
  }

  .carousel-indicators{
    display: flex;
    margin-top: 10px;
    bottom: auto;
    list-style: none;
  }

  .carousel-indicators [data-bs-target]{
    background-color: grey;
  }

  @media (max-width: 600px) {
    #carouselExampleFade {
      width: 415px; 
     } 
  }
  
  @media (max-width: 480px) {
    #galeria__grid{
      min-height: 100vh;
      
    }

    .h1__galeria{
     margin: 45px auto;
    }

    #carouselExampleFade {
      width: 300px;
      margin-top: 50px;
     }
    
    .d-block {
      width: 200px;
      height: 300px; 
     } 
  }