@import "variables";

/* ----------------------------------------INDEX---------------------------------------- */
#index__grid {
    display: grid;
    height: 100%;
    grid-template-areas: 
     "header"
     "portada"
     "servicios" 
     "footer";
    grid-template-rows: 75px auto auto 60px;
    background-image: linear-gradient(#f4f4f4, #f3d9dc);
  }
  
  #header {
    grid-area: header;
    position: sticky;
    z-index: 1;
    background-color:$header-color;
    border-bottom: ridge;
    border-width: 8px;
    border-color: #F6BDD1; 
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    color:$ul-color;
    transition: all .7s; 
  }
  
  .navbar-light .navbar-nav .nav-link.active:hover {
    font-size: 1.8rem; 
  }
  
  .bg {
    background-color:$header-color; 
  }
  
  .navbar, .container-fluid {
    padding: 0; 
  }
  
  .navbar-collapse {
    justify-content: flex-end; 
  }
  
  .navbar-nav {
    align-items: center; 
  }
  
  .icono__pagina {
    width: 65px;
    height: 65px;
    margin-top: 1px;
    margin-left: 0;
    transition: all .8s; 
  }
  
  .icono__pagina:hover {
    transform: scale(3, 3) translate(15px, 15px); 
  }
  
  .portada {
    grid-area: portada; 
  }
  
  .imagen__portada {
    width: 400px;
    height: 360px;
    display: block;
    
  }
  
  .servicios {
    grid-area: servicios;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 17px 0;
    list-style: none; 
  }
  
  #footer {
    grid-area: footer;
    position: relative;
    @include flex-align-center;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
    background-color: $footer-color
  }
  
  .redes__desing {
    font-size: 1.1rem;
    transition: all .4s; 
  }
  
  .redes__desing:hover {
    font-size: 1.3rem; 
    color: #343a40;
  }
  
  .icono__redes {
    width: 20px;
    height: 20px; 
  }
  
  @media (max-width: $media-q-bootstrap) {
    .icono__pagina, .icono__pagina:hover {
      transition: none;
      transform: none; 
     } 
  }
  
  @media (max-width: $media-q-smartphone) {
    .imagen__portada {
      margin: 0 auto;
      width: 275px;
      height: 275px; 
     }

     .servicios{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
     }
  }
  
  