@import "variables";

/* ----------------------------------------PAGE OPINION----------------------------------------*/
#opiniones__grid {
    @extend #index__grid;
    grid-template-areas: 
    "header"
    "opiniones"
    "footer";
    grid-template-rows: 75px auto 60px; 
  }
  
  .container {
    grid-area: opiniones;
    padding: 0; 
  }
  
  .row {
    display: flex;
    gap: 100px;
    margin: 83px 0;
    justify-content: center;
    flex-wrap: wrap; 
  }
  
  .card {
    border-radius: 5%;
    border-width: 5px;
    border-color: #b49286;
    border-style: outset;
  }
  
  .estrellas-opinion {
    height: 100px;
    width: 100px; 
  }
  
  .card-img-top {
    @extend.estrellas-opinion;
  }
  
  @media (max-width: 1199px) {
    #opiniones__grid {
      grid-template-rows: 75px auto 60px; 
     } 
  }
  
  @media (max-width: 992px) {
    #opiniones__grid {
      grid-template-rows: 75px auto 60px; 
     }
    
     .row {
      flex-direction: column;
      align-items: center;
      margin: 10px auto;
      gap: 20px; 
     } 
  }