$font-type: 'Arial, Helvetica, sans-serif';

$text-align-center: center;

$header-color: #8B575C;

$gradient-linear: (linear-gradient (#f4f4f4, #f3d9dc));

$footer-color: #b49286;

$border-color: #d8c0ab;

$ul-color: #f4f4f4;

$border-style-options: solid, outset, inset, ridge;

$media-q-desktop: 1200px;

$media-q-netbooks: 1024px;

$media-q-tablet: 768px;

$media-q-smartphone: 480px;

$media-q-bootstrap: 992px;

@mixin flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin h-design-center {
    color: #8B575C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 2.1;
    
}